.ui.center.aligned.container
  .ui.welcome.segment
    %h1 Awww yeahhh!
    %p
      You've got the app setup!
      %br
      That was the easy part
    %p
      If this starter app helped you get up and running in any way, I accept:
      %br
      Thanks:
      %a{href: 'https://twitter.com/amingilani'} @amingilani
      %br
      Gratitude:
      %a{href: 'bitcoin:13kcVthUJti7KEb4cQp1mH2X3aBu6DSTBz'} 13kcVthUJti7KEb4cQp1mH2X3aBu6DSTBz

    <script>function shapeshift_click(a,e){e.preventDefault();var link=a.href;window.open(link,'1418115287605','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=0,left=0,top=0');return false;}</script> <a onclick="shapeshift_click(this, event);" href="https://shapeshift.io/shifty.html?destination=13kcVthUJti7KEb4cQp1mH2X3aBu6DSTBz&amp;output=BTC&amp;apiKey="><img src="https://shapeshift.io/images/shifty/small_light_altcoins.png" class="ss-button"></a>

    %p Go forth and build something awesome
