.ui.inverted.vertical.footer.segment
  .ui.container
    .ui.stackable.inverted.divided.equal.height.stackable.grid
      .three.wide.column
        %h4.ui.inverted.header About
        .ui.inverted.link.list
          %a.item{:href => "#"} Company
          %a.item{:href => "#"} Mission
          %a.item{:href => "#"} Team
          %a.item{:href => "#"} Contact Us
      .three.wide.column
        %h4.ui.inverted.header Services
        .ui.inverted.link.list
          %a.item{:href => "#"} FAQ
          %a.item{:href => "#"} Terms of Service
          %a.item{:href => "#"} Privacy Policy
          %a.item{:href => "#"} Favorite X-Men
      .seven.wide.column
        %h4.ui.inverted.header Footer Header
        %p Extra space for a call to action inside the footer that could help re-engage users.
