/ Sidebar Menu
.ui.vertical.sidebar.menu
  %a.active.item{href: root_path} Home
  %a.item{href: new_user_session_path} Login
  %a.item{href: new_user_registration_path} Signup
/ Page Contents
.pusher
  .ui.vertical.center.aligned.segment
    .ui.container
      .ui.large.main.menu
        %a.toc.item
          %i.sidebar.icon
        %a.brand.item{href: root_path}= image_tag("logo/logo.png")
        %a.item{href: root_path} Home
        .right.item
          - if user_signed_in?
            .item
              %a.ui.button{href: edit_user_registration_path} Settings
            .item
              %a.ui.button{href: destroy_user_session_path, 'data-method' => :delete} Log out
          - else
            .item
              %a.ui.button{href: new_user_session_path} Log in
            .item
              %a.ui.green.button{href: new_user_registration_path} Sign Up
