/ Sidebar Menu
.ui.vertical.sidebar.menu
  %a.active.item Home
  %a.item Work
  %a.item Company
  %a.item Careers
  %a.item Login
  %a.item Signup
/ Page Contents
.pusher
  .ui.vertical.center.aligned.segment
    .ui.container
      .ui.large.main.menu
        %a.toc.item
          %i.sidebar.icon
        %a.active.item Home
        %a.item About
        %a.item Company
        %a.item Careers
        .right.item
          .item
            %a.ui.button Log in
          .item
            %a.ui.button Sign Up
